.container {
  margin: 0 auto;
  width: 720px;
	font-family: 'Open Sans', sans-serif;
<<<<<<< HEAD
}

header {
  border-bottom: 1px dotted grey;
  padding: 10px;
  text-align: center;
}

header li{
  display: inline;
  padding: 20px;
}

header ul{
  margin: 0;
  padding: 0;
}

header a {
  color: grey;
=======
>>>>>>> 85daedf1439d9481512af5e95f101bad28082901
}